body{
    color: aqua;
    background-color: black;
}
.test{
    color:red;
}

#test{
    color: bisque;
}

.pop{
    color: blueviolet;
    background-color: aquamarine;
    text-align: center;
    font-size: xx-large;
}

button{
    font-family: "times new roman";
    color: darkred;
    height: 100px;
}

.parent1 .child{
    color: lightcoral;
    font-size: xx-large;
    text-align: center;
}
.parent1{
    text-align: center;
    font-size: 100px;
}

.but1, 
.but2
{
    font-size: 75px;
    text-align: center;
    width: 200px;

}

.but1{
    color: brown;
    text-align: right;
}
.but2{
    color: dodgerblue;
}